.background{
    background-color: navy;
    height: 110vh;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.heading{
    font-size: 24px;
}
.user-container{
    background-color: lightblue;
    height: 350px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}